[core]
	excludesfile = /Users/miyazonoeiji/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = MyznEiji
	email = em711th@icloud.com
[commit]
#  template = 
[alias]
	ci = commit
	st = status
	br = branch
  	co = checkout
  	l = log --oneline --decorate --graph
[merge]
	ff = false
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
